@import "../../common/styles/variables";
@import "../../common/styles/mixins";


.skillContainer {
  border: 1px solid $secondaryFontColor;
  border-radius: 10px;
  width: 120px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin: 5px 3px;

  @media screen and (max-width: 576px) {
    width: 150px;

  }
  &:hover {
    border: 1px solid $primaryColor;
    background-color: $basicBackgroungColor;
    transition: all 0.4s ease-in-out 0s;
  }

  .iconContainer {
    .skillIcon {
      margin-top: 15px;
      width: 50px;
      height: auto;
    }
  }

  h2 {
    font-size: 18px;

    &:hover {
      color: $primaryColor;
      transition: all 0.4s ease-in-out 0s;
    }

    &::after {
      background-color: transparent;
    }
  }

  .skillDescription {
    text-align: center;
    box-sizing: border-box;
    color: $secondaryFontColor;
    margin-bottom: 14px;
    line-height: 1.3;

  }

}




