.skillContainer {
    border: 1px solid dimgray;
    width: 140px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.imageContainer {
    background-color: darkgrey;
}

.skillIcon {
    width: 100px;
    height: auto;
}

.skillTitle {
    box-sizing: border-box;
    padding: 5px;
    color: dimgray;
    font-size: 33px;
    margin: 0;
    text-align: center;

}

.skillDescription {
    text-align: center;
    box-sizing: border-box;
    margin: 5px;

}
