.skillContainer {
    border: 1px solid dimgray;
    width: 140px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.iconContainer{
    background-color: darkgrey;
}

.skillIcon {
    width: 100px;
    height: auto;
}

.skillTitle{
    color: dimgray;
    font-size: 33px;
    margin: 0;
    text-align: center;

}

.skillDescription {
text-align: center;
}
