$basicFontColor: #fff;
$primaryFontColor: #28e98c;
$secondaryFontColor: #999999;
$basicbgColor: #1f1f1f;
$secondarybgColor: #252527;
$basicFontFamily: 'Inter', sans-serif;
$secondaryFontFamily: 'Poppins', sans-serif;