$basicFontColor: #fff;
$primaryColor: #28e98c;
$secondaryFontColor: #999999;
$basicBackgroungColor: #1f1f1f;
$secondaryBackgroungColor: #252527;
$basicFontFamily: 'Inter', sans-serif;
$secondaryFontFamily: 'Poppins', sans-serif;