
@import "../common/styles/variables";

.mainContainer {
  background-color: $basicBackgroungColor;
  padding: 30px 0;

  .worksCategoryContainer {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;

    .workContainer {
      width: 100%;
      margin: 30px 0 30px 0 ;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: space-evenly;
      box-sizing: border-box;
      @media screen and (max-width: 793px) {
        justify-content: center
      }
    }
  }
}






