.mainSkills {
    /*min-height: 100vh;*/
    padding-bottom: 50px;
    background-color: rgba(102, 131, 131, 0.71);
}

.skillsSpecialContainer {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid dimgray;
}


.skillsTitle {
    color: khaki;
    border-radius: 5px;
    padding-bottom: 20px;
}

.skillsContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid;
}
