@import "../../common/styles/variables.scss";

.burgerNavContainer {
  width: 100%;
  height: 100%;
  //border: 1px solid $basicFontColor;
  //border-radius: 10px;
  padding: 5px 15px;
  font-family: $basicFontFamily;

  .burgerNavItems {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: $secondaryBackgroungColor;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    height: 150px;
    padding: 12px;
    transform: translate(0, -150px);
    transition: 0.7s;

    .activeLink {
      font-size: 12px;
      //text-decoration: none;
      text-decoration: dotted;
      color: $primaryColor;
    }

    .navBarLink {
      font-size: 14px;
      text-decoration: none;
      color: $basicFontColor;
      padding-left: 10px;
      font-weight: 300;

      &:active {
        font-size: 14px;
        text-decoration: none;
        color: $primaryColor;
        cursor: pointer;
        transition: all 0.4s ease-in-out 0s;
      }

    }
  }

  @media screen and (min-width: 460px) {
    display: none;
  }

  .show {
    transform: translate(0, 0);
    height: 150px;
  }

  .burgerButton {
    width: 30px;
    height: 30px;
    //background-color: $primaryColor;
    position: absolute;
    top: 24px;
    right: 20px;
    z-index: 1;

    .menuIcon {
      fill: $primaryColor;
      z-index: 2;
      width: 32px;
      height: 32px;
    }
  }
}



