.mainHome {
    height: 100vh;
    background-color: khaki;
}

.greetingText {
    width: 400px;
    color: dimgray;
    background-color: rgba(171, 150, 4, 0.2);
    border-radius: 10px;

}

.myPhoto {
    width: 300px;
    height: 400px;
    background-color: rgba(171, 150, 4, 0.2);
border-radius: 13px;
}
