@import "../common/styles/variables.scss";

.mainHome {
  height: 100vh;
  background-color: $basicBackgroungColor;

  .greetingContainer {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    -moz-border-radius-topleft: 30px;
    -moz-border-radius-topright: 30px;


    .greetingTextContainer {
      width: 470px;
      height: 200px;
      color: $basicFontColor;
      border: 1px solid dimgray;
      border-radius: 30px;
      font-family: $basicFontFamily;

      &:hover {
        border: 1px solid $primaryColor;
      }

      @media screen and (max-width: 518px) {
        height: 220px;
      }

      &::after {
        content: '';
        height: 1px;
        width: 116px;
        background-color: $primaryColor;
        position: absolute;
        transform: translate(-50%, 12px);
        left: 26%;
        @media screen and (max-width: 983px) {
          left: 36%;
        }
        @media screen and (max-width: 563px) {
          background-color: $basicBackgroungColor;
        }
      }

      .mainHello {
        font-size: 27px;
        letter-spacing: 1px;
        line-height: 0.7;
        position: relative;
        top: 23px;
        padding-left: 25px;
        font-weight: 300;
      }

      h1 {
        margin-top: 40px;
        padding: 0 20px;
        font-weight: 300;
        font-size: 36px;
        letter-spacing: 1.2px;
        @media screen and (max-width: 606px) {
          font-size: 30px;
        }

        span {
          color: $primaryColor;
          font-weight: 400;

        }
      }

      .shortPrestext {
        padding-left: 25px;
        font-weight: 300;
        font-family: $secondaryFontFamily;
        color: $secondaryFontColor;
      }
    }

    .greetingImgContainer {
      position: relative;
      z-index: 1;
      @media screen and (max-width: 1143px) {
        .greetingImgContainer {
          margin-top: 50px;
        }
      }

      .myImg {
        border-radius: 10px;
        width: 300px;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        &:before {
          content: "";
          position: absolute;
          height: 100%;
          width: 105%;
          border: 5px solid $primaryColor;
          border-radius: 10px;
          left: 15px;
          top: 15px;
          z-index: -1;
        }
      }

    }


  }
}


