.contactContainer {
    height: 60vh;
    background-color: khaki;
}

.greetingAngImgContainer {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px solid dimgray;
}

.contactFormContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: rgba(171, 150, 4, 0.2);
    height: 60%;
    width: 50%;
    padding: 0 8px;
    border: 1px solid #555555;
    border-radius: 10px;
}

@media screen and (max-width: 580px){
    .contactFormContainer{
        height: 70%;
        width: 90%;
    }
}

.displText {
    margin: 15px;
    color: #555;
    font-size: 30px;
    background-color: rgba(211, 211, 211, 0.34);
    border-radius: 5px;
    font-weight: 700;
}

.sendMeAMessage {
    color: #555;
    font-size: 20px;
    font-weight: 600;
    background-color: rgba(255, 114, 0, 0.37);
    border-radius: 4px;
    padding: 1px 3px;
}

.input {
    width: 100%;
    font-size: 15px;
    padding: 6px 0;
    background-color: #555555;
    color: beige;
    margin: 10px 0;
    border-radius: 5px;
}

.textArea {
    width: 100%;
    font-size: 15px;
    padding: 6px 0;
    background-color: #555555;
    color: beige;
    margin: 10px 0;
    border-radius: 5px;
}


.freelanceBtn {
    background-color: #555;
    color: #e0ddc8;
    border-radius: 7px;
    border: 1px solid black;
    font-size: 30px;
    padding: 3px 8px;
    font-weight: 500;
}

.freelanceBtn:hover {
    color: #e3df67;

}
