@import "../common/styles/variables";
@import "../common/styles/mixins";

.contactContainer {
  background-color: $basicBackgroungColor;
  padding: 15px 0 35px;

  .formContainer {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    h2 {
      letter-spacing: 2px;
      margin: 10px 0 35px;
      @media screen and (max-width: 655px) {
        margin: 10px 0;
        &::after {
          background-color: transparent;
        }
      }
    }

    .contactForm {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      background-color: $secondaryBackgroungColor;
      width: 100%;
      max-width: 500px;
      padding: 10px 18px;
      border: 1px solid $secondaryFontColor;
      border-radius: 30px;
      margin-bottom: 40px;
      font-family: $basicFontFamily;

      &:hover {
        border: 1px solid $primaryColor;
      }

      .sendMeAMessage {
        @include text($basicFontFamily, 33px, 1.2, $secondaryFontColor, 300);
        padding: 4px 3px;
      }

      .input {
        font-size: 16px;
        padding: 6px 10px;
        color: $basicFontColor;
        margin: 10px 0;
        border-radius: 5px;
        border: none;
        background: $basicBackgroungColor;
        box-shadow: none;
        resize: none;
        outline: 0 !important;

        &:focus {
          color: $primaryColor;
        }
      }

      .textArea {
        font-family: $basicFontFamily;
        font-size: 16px;
        padding: 6px 10px;
        background: $basicBackgroungColor;
        color: beige;
        margin: 10px 0;
        border-radius: 5px;
        box-shadow: none;
        border: none;
        resize: none;

        &:focus {
          color: $primaryColor;
          outline:0px none transparent !important;
        }
      }
    }


    .sendButton {
      text-align: center;
      padding: 8px 30px;
      border-radius: 30px;
      justify-content: center;
      text-transform: uppercase;
      background: $secondaryBackgroungColor;
      border: 2px solid $primaryColor;
      cursor: pointer;
      letter-spacing: 1.5px;
      @include text($basicFontFamily, 25px, 1, $primaryColor, 300);

      @media screen and (max-width: 768px) {
        font-size: 23px;
        margin-top: 0;
      }
      @media screen and (max-width: 576px) {
        font-size: 20px;
      }

      &:hover {
        background-color: $primaryColor;
        border: 2px solid $primaryColor;
        color: $basicBackgroungColor;
      }

    }
  }
}















