@import "../common/styles/variables";

.headerMain {
    height: 80px;
    background-color: $basicBackgroungColor;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    z-index: 3;
}