@import "../common/styles/variables";

.headerMain {
    height: 80px;
    background-color: $secondaryBackgroungColor;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 3;
    position: fixed;
    right: 30px;
    width: 100%;
}