@import "../../common/styles/variables.scss";

.navContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 1px solid $basicFontColor;
  border-radius: 10px;
  font-weight: 700;
  padding: 5px 15px;
  font-family: $basicFontFamily;

  &:hover {
    border: 1px solid $primaryFontColor;
  }

  .navBarLink {
    font-size: 18px;
    text-decoration: none;
    color: $basicFontColor;
    padding-left: 10px;

    &:hover {
      font-size: 18px;
      text-decoration: none;
      color: $primaryFontColor;
    }
  }
}



