@import "../styles/variables";

.titleContainer {
  font-size: 48px;
  line-height: 1.2;
  color: $basicFontColor;
  font-weight: 300;
  margin: 0;
  font-family: $basicFontFamily;
  margin-bottom: 13px;

  @media screen and (max-width: 768px) {
    font-size: 40px;
    line-height: 56px;
  }
  @media screen and (max-width: 576px) {
    font-size: 37px;
    line-height: 50px;
  }

  &::after {
    content: '';
    height: 1px;
    width: 55px;
    background-color: $primaryColor;
    position: absolute;
    transform: translate(-50%, 75px);
    left: 50%;
  }

  span {
    color: $primaryColor;
    font-weight: 300;

  }
}


