.titleContainer {
    font-family: 'Inter', sans-serif;
    margin-bottom: 13px;
}
.titleContainer ::after {
    content: '';
    height: 1px;
    width: 55px;
    background-color: #28e98c;
    position: absolute;
    transform: translate(-50%, 75px);
    left: 50%;
}

.titleContainer h2{
    font-size: 48px;
    line-height: 60px;
    color: #fff;
    font-weight: 300;
    margin: 0;
}
.titleContainer h2 span{
    color: #28e98c;
    font-weight: 300;

}