@import "../common/styles/variables";
@import "../common/styles/mixins";

.freelanceContainer {
  background-color: $secondaryBackgroungColor;
  padding: 30px 0;
  /*@media screen and (max-width: 455px) {
    height: 22vh;
  }*/

  .infoAndBtnContainer {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }


  .freelanceBtn {
    padding: 11px 58px 10px 58px;
    display: inline-flex;
    align-items: center;
    border-radius: 30px;
    justify-content: center;
    text-transform: uppercase;
    background: $primaryColor;
    border: 2px solid $primaryColor;
    cursor: pointer;
    width: 30%;
    letter-spacing: 1.5px;
    font-family: $basicFontFamily;
    line-height: 1;
    font-weight: 300;
    @include adaptive-font(40,20);

    /*@media screen and (max-width: 1010px) {
      width: 33%;
    }
    @media screen and (max-width: 920px) {
      width: 40%;
    }
    @media screen and (max-width: 770px) {
      width: 50%;
    }
    @media screen and (max-width: 620px) {
      width: 67%;
      font-size: 20px;
    }*/
    &:hover {
      background-color: $secondaryBackgroungColor;
      border: 2px solid $primaryColor;
      color: $primaryColor;
    }
  }
}









