.certainWorkContainer {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid dimgray;
    border-radius: 5px;
    margin: 15px 0;
}

.iconContainer {
    position: relative;
    width: 70%
}

.certainWorkIcon {
    width: 100%;
    height: auto;
}
.watchWorkBtn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: dimgray;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;

}.watchWorkBtn:hover {
     background-color: #555;
    color: khaki;
 }

.certainWorkTitle {
    color: dimgray;
    font-size: 33px;
    margin: 0;
    text-align: center;

}

.certainWorkDescription {
    text-align: center;
}
